.table thead th {
  position: sticky;
  top: 0;
  background-color: #f8f9fa;
  z-index: 1;
}

.navbar {
  background: var(--nv-color);
  color: var(--contrast-color);
  transition: background 0.2s, border-color 0.2s;
}

/* Search Bar */
.search-label {
  position: relative;
  border: 1px solid var(--search-b);
  overflow: hidden;
  background: var(--search-bg);
  padding: 9px 35px;
  cursor: text;
  transition: background 0.2s, border-color 0.2s;
}

.search-label:hover {
  border-color: var(--search-b-hover);
}

.search-label:focus-within {
  background: var(--search-bg-focus);
  border-color: var(--search-bg-hover);
}

.search-label input {
  outline: none;
  width: 100%;
  border: none;
  background: none;
  color: var(--contrast-color);
  font-size: 14px;
}

.search-label .search-icon {
  position: absolute;
  left: 12px;
  width: 16px;
  height: auto;
  color: #666;
  pointer-events: none;
}

/* Theme switch button */
.checkBox {
  display: block;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px var(--contrast-color);
}

.checkBox div {
  width: 60px;
  height: 60px;
  background-color: var(--contrast-color);
  top: -52px;
  left: -52px;
  position: absolute;
  transform: rotateZ(45deg);
  z-index: 100;
}

.checkBox input[type=checkbox]:checked+div {
  left: -10px;
  top: -10px;
}

.checkBox input[type=checkbox] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transition {
  transition: 300ms ease;
}