.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0;
  margin-bottom: 1rem;
  padding: .5rem 1rem;
  background: var(--nv-color);
  color: var(--contrast-color);
  box-shadow: var(--nv-boxshadow);
  transition: background 0.2s, border-color 0.2s;
}

.nav-bt-frame {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 120px;
  flex-shrink: 0;
}

.navbar-brand {
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
  color: var(--contrast-color);
  flex-shrink: 0 !important;
}

/* Search Bar */
.searchbarBox {
  display: flex;
  justify-content: center;
}

.search-label {
  position: relative;
  display: flex;
  align-items: center;
  padding: 9px 35px;
  border: 1px solid var(--search-b);
  border-radius: 0.375rem;
  overflow: hidden;
  background: var(--search-bg);
  cursor: text;
  transition: background 0.2s, border-color 0.2s;
}

.search-label:hover {
  border-color: var(--search-b-hover);
}

.search-label:focus-within {
  background: var(--search-bg-focus);
  border-color: var(--search-bg-hover);
}

.search-label input {
  width: 100%;
  border: none;
  background: none;
  color: var(--contrast-color);
  outline: none;
  font-size: 14px;
}

.search-label .search-icon {
  position: absolute;
  left: 12px;
  width: 16px;
  height: auto;
  color: #666;
  pointer-events: none;
}

/* Theme switch button */
.checkBox {
  position: relative;
  display: block;
  width: 15px;
  height: 15px;
  border: 3px solid rgba(255, 255, 255, 0);
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 0px 2px var(--contrast-color);
  cursor: pointer;
}

.checkBox div {
  position: absolute;
  top: -52px;
  left: -52px;
  z-index: 100;
  width: 60px;
  height: 60px;
  background-color: var(--contrast-color);
  transform: rotateZ(45deg);
}

.checkBox input[type=checkbox]:checked+div {
  left: -10px;
  top: -10px;
}

.checkBox input[type=checkbox] {
  position: absolute;
  left: 50px;
  visibility: hidden;
}

.transition {
  transition: 300ms ease;
}