:root {
  --bg-color: #F9F4F4;
  --nv-color: #fff;
  --contrast-color: #000;
  --search-bg: #f9f9f9;
  --search-bg-focus: #fff;
  --search-b: #ccc;
  --search-b-hover: #999;
  --search-b-focus: #666;
}

.dark {
  --bg-color: #0c1116;
  --nv-color: #0A0A0A;
  --contrast-color: #FFF;
  --search-bg: #212931;
  --search-bg-focus: #000;
  --search-b: #333;
  --search-b-hover: #666;
  --search-b-focus: #999;
}

html {
  position: relative;
  min-height: 100%;
  font-size: 16px;
}

body {
  margin-bottom: 60px;
  background: var(--bg-color);
  transition: background 0.2s, border-color 0.2s;
}

.navbar-brand:hover {color: var(--contrast-color);}
.navbar-brand {color: var(--contrast-color);}